node_modules
log.json
/dist
yarn-error.log

# Hardhat files
/cache
/artifacts

/integration-info.json
/verify

# Integration secrets
aws.env
secrets.env
receipt.json
config.json

#airkeeper
/airkeeper-deployment/templates
/airkeeper-deployment/airkeeper.json
